/*hero*/
#hero{
    width: 100%;
    height: 60%;
    background-image: url('../images/desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero2{
    width: 100%;
    height: 150px;
    background-image: url('../images/desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*typewritter skills*/
.skills {
 color: white;
}

.skill:last-child {
    border-right: none;
}

.rails {
  animation-duration: 3s;
  animation-delay: 3s;
}
.r {
  animation-duration: 3s;
  animation-delay: 6s;
}
.math {
  animation-duration: 3s;
  animation-delay: 9s;
}
.ios {
  animation-duration: 3s;
  animation-delay: 12s;
}

  #hero .skills h1 {
    font-size: 1.5rem;
  }

@media(min-width:576px){

  #hero .skills h1 {
    font-size: 1.5rem;
  }

}
@media(min-width:768px){

  #hero .skills h1 {
    font-size: 1.75rem;
  }

}
@media(min-width:992px){

  #hero .skills h1 {
    font-size: 2rem;
  }

}
@media(min-width:1200px){

  #hero .skills h1 {
    font-size: 3.5rem;
  }

}
