<div class="about">
  <h1 class="section-heading">About</h1>
  <div class="container">
    <p>I am a software developer with extensive experience in backend and frontend development, specializing in Ruby on Rails for building robust and scalable applications. Outside of coding, I enjoy experimenting with physical projects such as creating bar-top arcades and exploring new ways to blend creativity with technology.</p>
  </div>
</div>
