<div class="about">
  <h1 class="section-heading">About</h1>
  <div class="container">
    <p>I graduated in 2015 with a Bachelor’s of Arts in Statistics from the University of California, Berkeley, and relocated to Orange County. I currently work full time as a software developer.</p>
  </div>
</div>
