<!-- hero -->
<div id="hero">
  <div id="skill-view">
    <h1 id="skills" style="white-space: nowrap;">Welcome</h1>
  </div>

  <div class="section">
    <div class="skill rails animated fadeIn">
      <p>Ruby on Rails</p>
    </div>
    <div class="skill r animated fadeIn">
      <p>R</p>
    </div>
    <div class="skill math animated fadeIn">
      <p>Math</p>
    </div>
    <div class="skill ios animated fadeIn">
      <p>iOS</p>
    </div>
  </div>

</div>
